<extend name="Public/base"/>

<block name="header">
    <li class="active"><a href="javascript:void(0);">1.安装协议</a></li>
    <li><a href="javascript:void(0);">2.环境检测</a></li>
    <li><a href="javascript:void(0);">3.创建数据库</a></li>
    <li><a href="javascript:void(0);">4.安装</a></li>
    <li><a href="javascript:void(0);">5.完成</a></li>
</block>

<block name="body">
    <header>
        <h1 class="text-center">__NAME__ 安装协议</h1>
    </header>
    <section class="article-content" style="text-indent: 2em">
        <p>您当前正在使用<strong>__VERSION__</strong>版__NAME__。</p>
        <p>
            __NAME__是基于ThinkPHP，且参考了OpenCenter的后台设计思路二次开发的。如有侵权的请及时联系本人。
        </p>
        <p>
            新手上路，大家有什么好的想法和意见也可以在<a href="https://github.com/Albert3306/albertCMS">GitHub</a>上提Issues，或者pull request。
        </p>
    </section>
</block>

<block name="footer">
    <a class="btn btn-primary btn-block btn-large" href="{:U('Install/step1')}">同意安装协议</a>
</block>