<extend name="Public/base"/>

<block name="header">
    <li class="active"><a href="javascript:;">1.安装协议</a></li>
    <li><a href="javascript:;">2.环境检测</a></li>
    <li><a href="javascript:;">3.创建数据库</a></li>
    <li><a href="javascript:;">4.安装</a></li>
    <li><a href="javascript:;">5.完成</a></li>
</block>

<block name="body">
</block>

<block name="footer">
    <a class="btn btn-primary btn-block btn-large" href="{:U('Install/step1')}">同意安装协议</a>
    <a class="btn btn-default  btn-large btn-block" style="background: white;" href="http://__WEBSITE__">不同意</a>
</block>