<!doctype html>
<html lang="en" style="background: #4f8ad0">
    <head>
        <meta charset="UTF-8">
        <title>__NAME__</title>
        <link rel="icon shortcut" href="/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" type="text/css" href="__CSS__/login.css" media="all">
        <!--zui-->
        <link rel="stylesheet" type="text/css" href="__ZUI__/css/zui.css" media="all">
        <!--zui end-->
    </head>
    <body >
        <div id="main-content">
            <!-- 主体 -->
            <div class="login-body">
                <div class="login-main pr">
                    <form action="{:U('login')}" method="post" class="login-form">
                        <h3 class="welcome">{:L('LOGIN_ADMIN')}</h3>
                        <div id="itemBox" class="item-box">
                            <div class="input-group user-name" >
                                <span class="input-group-addon"><i class="icon-user"></i></span>
                                <input type="text" name="username" class="form-control" placeholder="{:L('LOGIN_USERNAME')}">
                            </div>
                            <div class="input-group password">
                                <span class="input-group-addon"><i class="icon-lock"></i></span>
                                <input type="password" name="password"  class="form-control" placeholder="{:L('LOGIN_PASSWORD')}">
                            </div>
                            <if condition="APP_DEBUG eq false">
                                <div class="input-group password">
                                    <span class="input-group-addon"><i class="icon-ok"></i></span>
                                    <input type="text" name="verify" class="form-control" placeholder="{:L('LOGIN_VERIFY')}" autocomplete="off">
                                    <span class="input-group-btn">
                                    <button class="btn btn-default reloadverify" type="button"><i class="icon-refresh"></i></button>
                                    </span>
                                </div>
                                <div>
                                    <img class="verifyimg reloadverify" alt="{:L('LOGIN_CLICK_SWITCH')}" src="{:U('Login/verify')}">
                                </div>
                            </if>
                        </div>
                        <div class="login_btn_panel">
                            <button class="login-btn" type="submit">
                                <span class="in"><i class="icon-loading"></i>{:L('LOGIN_SUBMIT_LOADING')}</span>
                                <span class="on">{:L('LOGIN_SUBMIT')}</span>
                            </button>
                            <div class="check-tips"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    <script type="text/javascript" src="__PUBLIC__/js/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="__ZUI__/js/zui.js"></script>
    <script type="text/javascript" src="__JS__/login.js"></script>
</body>
</html>