<!doctype html>
<html lang="en" style="background: #4f8ad0">
    <head>
        <meta charset="UTF-8">
        <title>{$meta_title}</title>
        <link rel="icon shortcut" href="/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" type="text/css" href="__CSS__/login.css" media="all">
        <!--zui-->
        <link rel="stylesheet" type="text/css" href="__ZUI__/css/zui.css" media="all">
        <!--zui end-->
    </head>
    <body >
        <div id="main-content">
            <!-- 主体 -->
            <div class="login-body">
                <div class="login-main pr">
                    <form action="{:U('login')}" method="post" class="login-form">
                        <h3 class="welcome">登录后台</h3>
                        <div id="itemBox" class="item-box">
                            <div class="input-group user-name" >
                                <span class="input-group-addon"><i class="icon-user"></i></span>
                                <input type="text" name="username" class="form-control" placeholder="登录后台">
                            </div>
                            <div class="input-group password">
                                <span class="input-group-addon"><i class="icon-lock"></i></span>
                                <input type="password" name="password"  class="form-control" placeholder="密码">
                            </div>
                            <if condition="APP_DEBUG eq false">
                                <div class="input-group password">
                                    <span class="input-group-addon"><i class="icon-ok"></i></span>
                                    <input type="text" name="verify" class="form-control" placeholder="验证码" autocomplete="off">
                                    <span class="input-group-btn">
                                    <button class="btn btn-default reloadverify" type="button"><i class="icon-refresh"></i></button>
                                    </span>
                                </div>
                                <div>
                                    <img class="verifyimg reloadverify" alt="点击切换" src="{:U('Login/verify')}">
                                </div>
                            </if>
                        </div>
                        <div class="login_btn_panel">
                            <button class="login-btn" type="submit">
                                <span class="in"><i class="icon-loading"></i>登录中..</span>
                                <span class="on">登 录</span>
                            </button>
                            <div class="check-tips"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    <script type="text/javascript" src="__PUBLIC__/js/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="__ZUI__/js/zui.js"></script>
    <script type="text/javascript" src="__JS__/login.js"></script>
</body>
</html>